<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="modal.css">
</head>

<body>
    <h1 id="tituloCrud">Cadastro de usuários</h1>
    <div id="container" class="header">
        <div class="header">
            <label for="modal-criar">
                <a id="btnModalUsuario" class="botao botaoAzul">Criar usuário</a>
            </label>
        </div>
        <div id="tabelaCrudContainer">
            <table id="tabelaCrud">
                <thead>
                    <tr>
                        <th style="width: 10%">ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Idade</th>
                        <th style="width: 20%">Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="paginacaoContainer">
            <div id="paginacao"></div>
        </div>
    </div>

    <input class="modal-state" id="modal-criar" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="modal-criar"></label>
        <div class="modal__inner">
            <label id="modalClose" class="modal__close" for="modal-criar"></label>
            <div id="formAdicionar">
                <h2>Adicionar usuário</h2>                
                
                <div class="form-control">
                    <label>Nome:</label>
                    <input type="text" id="inputNome" />
                </div>
                <div class="form-control">
                    <label>E-mail:</label>
                    <input type="email" id="inputEmail" />
                </div>
                <div class="form-control">
                    <label>Idade:</label>
                    <input type="number" id="inputIdade" />
                </div>
                <div class="botaoSalvarContainer">
                    <a id="botaoSalvar" class="botao botaoVerde" href="#">Salvar</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>